.menu-top{
    width: var(--origin-width);
    margin: auto;
    padding: 45px 0 90px 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.menu-main{
    width: 820px;
    font-size: 18px;
    font-family: var(--font-h1);
    line-height: 1em;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;    
}
.menu-main a{
    color: #000;
    text-decoration: none;
}
.logo{
    width: 340px;
    height: 67px;
    display: inline-block;
}
.logo img{
    max-width: 100%;
}

.slider-main .swiper-pagination-bullet{
    width: 45px;
    height: 5px;
    border-radius: 0;
    background: #e6faff;
}
.slider-main .swiper-pagination-bullet-active{
    background: var(--color-current);
}