article{
    width: 100%;
    background: cyan;
    margin: auto;
/*    overflow: hidden;*/
}
article > section{
    width: 1550px;
    margin: 60px auto;
}
.ourServices{
    margin-top: 63px;
}
.ourServices h2.title{
    margin-bottom: 30px;
}
.ourServices .serItem:nth-child(2) .list-01{
    border-left: 1px solid #222021;
    border-right: 1px solid #222021;
}
.ourServices .serItem{
}
.ourServices .wrapt-img{
    width: 132px;
    height: 134px;
    margin: 0 auto 70px;
}

.whyChoose{
    margin-top: 227px;
}
.whyChoose .wrapt-img{
    float: left;
    margin-right: 40px;
}


.ourProducts{
    margin-top: 166px;
}
.proItem{
    width: 358px;
    height: 358px;
    margin-bottom: 50px;
    background: #ededed;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.proItem:last-child img{
    margin-top: 80px;
}
.proItem h3{
    width: 100%;
    height: 110px;
}

.clientSay{
    margin-top: 137px;
}
.clientSay .title{
    font-size: 36px;
    text-align: left;
    padding-left: 72px;
    padding-right: 85px;
    letter-spacing: 3.97px;
}
.clientSay .title:after{
    height: 5px;
    background: var(--bg-client);
    position: relative;
}

.ourTechnology{
    width: 100%;
    background:#242424 url(../image/background/bg-technology.png) no-repeat top center;
    background-origin: content-box;
    background-size: 100%;
    color: #fff;
    text-align: center;
    margin: 134px auto 0;
    padding: 60px 0 20px;
} 
.ourTechnology .title{
    color: #fff;
    margin-bottom: 0;
}
.ourTechnology .title ~ p{
    line-height: 0.8em;
    font-size: 18px;
    margin: 33px auto;
}
.ourTechnology .title ~ p + p{
    font-family: var(--font-h1);
    letter-spacing: 4.5px;
    margin-top: 33px;
}
.ourTechnology .list-0{
    width: 1550px;
    margin: 83px auto 70px;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline
}
.ourTechnology .list-0 li{
    width: 25%;
    margin-bottom: 100px;
}


.valueSolution{
    width: 100%;
    font-family: var(--font-h2);
    background: #e5e5e5;
    padding: 45px 0 40px;
}
.valueSolution > .flex{
    text-align: center;
    width: 1550px;
    margin: auto;
}
.valueSolution h2{
    font-size: 68px;
    color: var(--color-01);
}
.valueSolution p {
    font-size: 24px;
    line-height: 0.8em;
    margin-bottom: 0;
}

.footerTop{
    width: 1550px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}