@font-face {
    font-family: 'ArialMT';
    src: url('../css/font/arialMT/ArialMT.eot');
    src: url('../css/font/arialMT/ArialMT.eot?#iefix') format('embedded-opentype'),
        url('../css/font/arialMT/ArialMT.woff2') format('woff2'),
        url('../css/font/arialMT/ArialMT.woff') format('woff'),
        url('../css/font/arialMT/ArialMT.ttf') format('truetype'),
        url('../css/font/arialMT/ArialMT.svg#ArialMT') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Futura PT';
    src: url('../css/font/futuraBT/FuturaPT-Medium.eot');
    src: url('../css/font/futuraBT/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
        url('../css/font/futuraBT/FuturaPT-Medium.woff2') format('woff2'),
        url('../css/font/futuraBT/FuturaPT-Medium.woff') format('woff'),
        url('../css/font/futuraBT/FuturaPT-Medium.ttf') format('truetype'),
        url('../css/font/futuraBT/FuturaPT-Medium.svg#FuturaPT-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --font-h1: 'Raleway', sans-serif; 
    --font-h2: 'Futura PT';
    --font-h3: 'Cinzel', serif;
    --color-01: #5ca62f;
    --color-02: #037f9f;
    --color-03: #2086a0;
    --color-04: #08add6;
    --color-current: #08add6;
    --bg-client: #2e6160;
    --origin-width: 1550px;
    --other-width: 1400px;
    --content-width: 1350px;
}

html, body {
    position: relative;
    height: 100%;
    font-size: 22px;
    line-height: 38px;
}

body {
    font-family: 'ArialMT'; 
}
h1,h2,h3{
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    line-height: 0.8em;
}
a{
    display: inline-block;
    color: #000;
    text-decoration: none;
}
h1.title{
    font-family: var(--font-h1);
    font-size: 48px;
    font-weight: 400;
/*    letter-spacing: 5.29px;*/
    letter-spacing: 10px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 100px;
    position: relative;
}
h1.title:after{
    content: '';
    width: 60%;
    height: 1px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(rgba(169, 169, 169, 0.75)), to(rgba(0, 0, 0, 0)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(169, 169, 169, 0.75), rgba(0, 0, 0, 0));
    display: block;
    margin-top: 15px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
h1.title span{
    color: var(--color-01);
    font-weight: 600;
}

h2.title{
    font-family: var(--font-h2);
    color: var(--color-03);
    font-size: 30px;
    font-weight: normal;
}
h3.title{
    font-family: var(--font-h3);
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    text-transform: uppercase;
}

section:after{
    content: '';
    display: block;
    clear: both;
}
.flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.justi-between{
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.align-baseline{
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline
}
.align-center{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.wrapt-img{
    position: relative;
    overflow: hidden;
}
.wrapt-img img{
    max-width: 100%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -webkit-transition: ease-out 0.3s;
    transition: ease-out 0.3s;
    position: relative;
    top: 50%;
    left: 50%;
}
.list-0{
    list-style: none;
    padding: 0;
    margin: 0;
}
.list-01{
    font-family: var(--font-h2);
    list-style: none;
    margin: 0;
    padding: 22px 110px 38px 60px;
}
.list-01 li{
    font-size: 22px;
    height: 26px;
    padding: 10px 0 15px;
    margin-left: 40px;
    border-bottom: 1px solid #cbcbcb;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    position: relative;
}
.list-01 li:before{
    content: '';
    width: 24px;
    height: 26px;
    display: block;
    position: absolute;
    left: -40px;
    top: 15px;
    background: url(../image/icon/list-01.png) no-repeat center center;
}
.list-01 li a{
}
.list-02{
    list-style: none;
    margin-left: 45px;
}
.list-02 li{
    padding: 8px 10px 9px 30px;
    position: relative;
}
.list-02 li:before{
    content: '';
    width: 10px;
    height: 10px;
    display: block;
    position: absolute;
    left: 0;
    top: 17px;
    background: var(--color-01);
}
.list-02.img-right{
    width: calc(100% - 439px - 55px);
    text-align: justify;
}
.img200-300{
    width: 300px;
    height: 200px;
}
.quote01{
    width: 920px;
    padding: 5px 20px 5px 90px;
    background: url(../image/icon/icon-quote.png) no-repeat left top;
    font-size: 28px;
    text-align: justify;
    line-height: 1.4em;
    
}
.quote01 i{
    color: #6e6f70;
}
.quote01 p{
    margin-top: 15px;
    color: #000;
}
.quote01 p span{
    font-size: 20px;
    color: #00adee;
}
